@font-face {
    font-family: 'BankGothic';
    src: url('./fonts/BankGothicMediumBT.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'BankGothic';
    src: url('./fonts/BankGothic-Bold.ttf') format('truetype');
    font-weight: bold;
}


:root {
    --gap: 2rem;
    --font: 0 'BankGothic', sans-serif 
  }

  h1,h2,h3,h4,h5,h6,p,button,a,div,span{
    font: var(--font);
    font-size: 1rem;
  }
  h1,.h1{
    font-size: 3rem;
  }
  h2,.h2{
    font-size: 2.5rem;
  }
  h3,.h3{
    font-size: 2.2rem;
  }
  h4,.h4{
    font-size: 2rem;
  }
  h5,.h5{
    font-size: 1.7rem;
  }
  h6,.h6{
    font-size: 1.5rem;
  }

html, body{
    display: flex;
    flex-direction: column;
    background-color: #7ee8fa;
    background: rgb(0,71,171);
    background: linear-gradient(159deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
a,b,em,p{
    margin: 0;
    padding: 0;
}
a{
    text-transform: none;
    text-decoration: none;
}
.form-container a{
    margin-bottom: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    padding-block: var(--gap);
}
input{
    height: 2rem;
    margin-bottom: 1rem;
}
input[type=button], button{
    width: fit-content;
    justify-self: flex-end;
    align-self: flex-end
}
.form-container{
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0,0,.2);
    padding: var(--gap);

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 70vh;
    border: 1px solid rgba(0,0,0,.1)
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}
#trivia-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

    color: white;
    gap: var(--gap);
    width: 200px;
    aspect-ratio: 1;
}
button, .answer, #nextRound{
    background: rgb(0,51,102);
    background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    border: solid 2px rgba(0,0,0,.2);
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    max-width: 300px;
    margin: 0 auto;
}
.answer:hover, #nextRound:hover{
    filter: brightness(.7);
}
.answer:disabled, #nextRound:disabled{
    filter: grayscale(1);
    pointer-events: none;
    color:gray
}
#nextRound{
visibility: hidden;
}
#question-container,
#result,
#answer-container{
max-width: 600px;
padding-bottom: 2rem;
}
#answer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);

}
.answer.correct{
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    color: black;
pointer-events: none;
}

.gameState{
    position: absolute;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    top: 0;
    background-color: rgba(0,0,0,.5);
    color: white;

}
#result{
    text-align: center;
}
.playerHealthWrapper{
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}
#playerHealthBar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    color: gold;

}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    visibility: hidden !important;    
}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 